
*{
	margin: 0;
	padding:0;
}

html, body {
  min-height: 1080px;
}

@font-face {
  font-family: Pokemon Solid;
  font-style: normal;
  font-weight: 400;
  src: url("pokemon-solid.ttf");
}


body {
  background: url(../pokeBackground.jpg) center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0px auto;
}

nav {
	height: 110px;
  background: url(../pokeBackground.jpg) center;
	text-align: center;
  font-family: 'Pokemon Solid';
}

nav span {
	font-size: 2.2em;
  letter-spacing: 4px;
}

h1{
  color: white;
}

.nav-link {
	background-color: red;
	color: white;
  font-weight: bold;
  font-size: 120%;
	padding:3px;
	border: 2px solid black;
  width: 20%;
  letter-spacing: 1.75px; 
}

.nav-link:active {
  background-color: black;
  color: red;
  font-size: 150%;
  padding:3px;
  border: 2px solid red;
  width: 20%;
  letter-spacing: 1.75px; 
}

.container-link {
  position: fixed;
  right: 5px;
  bottom: 5px;
  color: white;
}

/*The styles for the selected Pokémon*/
.pokemon {
  width:60%;
  max-width:625px;
  position:relative;
  padding:8px;
  border-radius:8px;
  background-color:white;
  margin: 0px auto;
  box-shadow: -20px 20px 31px 4px black;

}

.pokemon img {
  width:50%;
  height:300px;
  margin-right: 10px;
}

.pokemon span {
  font-size: 2em;
}

.info {
  position:absolute;
  top:0;
  right:0;
  width:45%;
  padding:10px;
}

.pokemon h2 {
  margin-left:27px;
}

table {
  font-size: 1.5em;
}
td {
  width: 85px;
}

tr td:nth-child(2) {
  text-align: right;
}

tr th:nth-child(1) {
  text-align: left;
} 

tr th:nth-child(2) {
  text-align: right;
} 


.moves {
  width:90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 0px auto;
}


.move {
  font-size:1.5em;
  min-width: 50px;
  padding: 2px 5px;
  box-shadow: 1px 1px 3px black;
  margin: 5px;
  background-color: #a3a3a3;
}

fieldset {
  background-color: red;
  text-align: left;
  padding: 1.5%;
  width: 50%;
  border-radius: 50px;
  border: 5px solid black;
  box-shadow: -20px 20px 31px 4px black;
  margin: 0px auto;
}

fieldset img {
  width: 33%;
  height: 33%;
}

fieldset input, button {
border-radius: 30px;
}

fieldset input {
  color: red;
  padding: 2%;
  background-color: black;
  border: 2px solid white;
}

fieldset button {
    padding: 3%;
    margin: 10%;
    color: red;
    background-color: black;
    border: 2px solid white;
}

fieldset button:active {
    padding: 3%;
    margin: 10%;
    color: red;
    background-color: white;
    border: 4px solid black;
}

fieldset:last-child{
    color: white;
    font-weight: bolder;
    font-size: 150%;
    text-align: center;
}

legend {
  font-size: 200%%;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Pokemon Solid';
  letter-spacing: 2px;
}

label {
  color: white; 
  font-size: 120%;
  font-weight: bold;
}

label input {
    border-radius: 30px;
    background-color: black;
    border: 2px solid white;
    color: red;
    font-size: 120%;
    padding: 1.5%;
}

form {
  margin-top: 5%;
  margin: 30px auto;
  text-align: center;
}

#getData {
  position: relative;
  bottom: 16px;
  background:transparent url(../icons8-Pokeball-96.png) no-repeat center;
  color: black;
  font-weight: bold;
  line-height: 2.6em;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 110px;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  margin: 2%;
}

#getData:active {
  opacity: 0.5;
  color: darkred;
}

.view.ng-animate {
  transition: all ease 0.7s;
  position: absolute;
}
 
.view.ng-enter {
  bottom: 200px;
  opacity: 0;
}
 
.view.ng-leave, 
.view.ng-enter.ng-enter-active {
  bottom: 0;
  opacity: 1;
}
 
.view.ng-leave.ng-leave-active {
  bottom: -300px;
  opacity: 0;
}

.pokemon.ng-enter{ 
  transition: 5s all;
  opacity: 0;
 } 

 .pokemon.ng-enter.ng-enter-active {
  opacity: 1;
 }





