@import url("Pokemon Solid.tff");

*{
	margin: 0;
	padding:0;
}

@font-face {
  font-family: 'Pokemon Solid';
  font-style: normal;
  font-weight: 400;
}

body {
	background-color: #424242;
}

nav {
	height: 110px;
	background-color: white;
	text-align: center;
  font-family: 'Pokemon Solid';
}

span {
	font-size: 2em;
}

h1{
  color: white;
}

.nav-link {
	background-color: red;
	color: white;
	padding:3px;
	border: none; 
}

.container-link {
  color: white;
}

/*The styles for the selected Pokémon*/
.pokemon {
  width:60%;
  max-width:625px;
  position:relative;
  padding:5px;
  border-radius:8px;
  background-color:white;
}

.pokemon img {
  width:300px;
  height:300px;
}

.info {
  position:absolute;
  top:0;
  right:0;
  width:50%;
  padding:2px;
}
.moves {
  width:90%;
}


fieldset {
  background-color: red;
  text-align: left;
  padding: 2%;
  width: 50%;
  border-radius: 50px;
}

legend {
  font-size: 120%;
  font-weight: bold;
  color: white;
  text-align: center;
}

form {
  margin: auto 0;
}

#getData {
  background:transparent url(../icons8-Pokeball-96.png) no-repeat center;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 110px;
  height: 70px;
  width: 70px;
  border: 2px solid black;

}

.view.ng-animate {
  transition: all ease 0.4s;
  position: absolute;
}
 
.view.ng-enter {
  top: 500px;
  opacity: 0;
}
 
.view.ng-leave, 
.view.ng-enter.ng-enter-active {
  top: 0;
  opacity: 1;
}
 
.view.ng-leave.ng-leave-active {
  top: -200px;
  opacity: 0;
}

