
*{
	margin: 0;
	padding:0;
}

@font-face {
  font-family: Pokemon Solid;
  font-style: normal;
  font-weight: 400;
  src: url("pokemon-solid.ttf");
}

body {
	background-color: #424242;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0px auto;
}

nav {
	height: 110px;
	background-color: white;
	text-align: center;
  font-family: 'Pokemon Solid';
}

nav span {
	font-size: 2.2em;
  letter-spacing: 4px;
}

h1{
  color: white;
}

.nav-link {
	background-color: red;
	color: white;
	padding:3px;
	border: none; 
}

.container-link {
  color: white;
  position: absolute;
  bottom: 5px;
}

/*The styles for the selected Pokémon*/
.pokemon {
  width:60%;
  max-width:625px;
  position:relative;
  padding:8px;
  border-radius:8px;
  background-color:white;
  margin: 0px auto;
}

.pokemon img {
  width:50%;
  height:300px;
  margin-right: 10px;
}

.pokemon span {
  font-size: 2em;
}

.info {
  position:absolute;
  top:0;
  right:0;
  width:45%;
  padding:10px;
}

.pokemon h2 {
  margin-left:27px;
}
.moves {
  width:90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 0px auto;
}

.move {
  font-size:1.5em;
  min-width: 50px;
  padding: 2px 5px;
  box-shadow: 1px 1px 3px black;
  margin: 5px;
  background-color: #a3a3a3;
}

fieldset {
  background-color: red;
  text-align: left;
  padding: 2%;
  width: 50%;
  border-radius: 50px;
}

legend {
  font-size: 120%;
  font-weight: bold;
  color: white;
  text-align: center;
}

form {
  margin: 30px auto 20px;
  text-align: center;
}

#getData {
  background:transparent url(../icons8-Pokeball-96.png) no-repeat center;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 110px;
  height: 70px;
  width: 70px;
  border: 2px solid black;

}

.view.ng-animate {
  transition: all ease 0.4s;
  position: absolute;
}
 
.view.ng-enter {
  top: 500px;
  opacity: 0;
}
 
.view.ng-leave, 
.view.ng-enter.ng-enter-active {
  top: 0;
  opacity: 1;
}
 
.view.ng-leave.ng-leave-active {
  top: -200px;
  opacity: 0;
}

