<div class="pokemon">
  <img src="https://img.pokemondb.net/artwork/{{pokemon.name}}.jpg">
  
  <div class="info">
    <p class="names">
      <span class="name">
      	{{pokemon.name}} | <span class="pokeId">{{pokemon.id}}</span> 
      </span>      
    </p>
    
    <div class="stats">
      <table>
        <tr>
          <th>Stat</th>
          <th>Value</th>
        </tr>

        <tr>
          <td>Height</td>
          <td>{{pokemon.height/10}}m</td>
        </tr>

        <tr>
          <td>Weight</td>
          <td>{{pokemon.weight/10}}kg</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{pokemon.types[0].type.name}}</td>
        </tr>
      </table>
    </div>
    
    <div class="text">
      <p>This pokemon is a pokemon that does things.</p>
    </div>
  </div>
  
  <div class="moves">
  	<h2>Moveset</h2>
	<div class="move" ng-repeat="move in moves | limitTo:4"></div>
  </div>
</div>