<div class="pokemon">
  <img src="https://img.pokemondb.net/artwork/{{pokemon.name}}.jpg">
  
  <div class="info">
    <p class="names">
      <span class="name">
      	{{name}} | <span class="pokeId">{{pokemon.id}}</span> 
      </span>      
    </p>
    
    <div class="stats">
      <table>
        <tr>
          <th>Stat</th>
          <th>Value</th>
        </tr>

        <tr>
          <td>Height</td>
          <td> {{pokemon.height/10}}m</td>
        </tr>

        <tr>
          <td>Weight</td>
          <td> {{pokemon.weight/10}}kg</td>
        </tr>
        <tr>
          <td>Type</td>
          <td> {{type}}</td>
        </tr>
      </table>
    </div>
  </div>
  <h2>Moveset</h2>
  
  <div class="moves">
  	
	  <move class="move" ng-repeat="move in pokemon.moves | limitTo:8"></move>
  </div>
</div>